<IfModule mod_rewrite.c>
# Active rewrite
RewriteEngine on
ErrorDocument 404 http://master-php.test/proyectos/tiendaPOO/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>